.no-gutter{margin-left:-10px;margin-right:0}.media-feed{padding:25px}.asset-thumbnail{border:2px solid #00FF92}.loading-wheel-container{width:95%;margin:0 auto;text-align:center}.loading-text{display:block;margin-top:-30px}@media screen and (max-width: 330px){.asset-thumbnail{height:100px !important;width:auto}}@media screen and (max-width: 480px){.media-feed{padding:5px 2px}.asset-thumbnail{height:115px;width:auto}.asset-thumbnail-offset{padding:6px 1px !important;margin-bottom:-10px !important}}
