<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
	<body>
	<th:block tiles:fragment="content" th:remove="tag">
		<section id="main-content" class="container">
			<div class="row">
				<section class="content-wrapper">
					<!-- <div class="row">
						<div class="col-lg-1">
							<div id="contentHeader">
								<span class="page-header" th:text="${viewName}"></span>
							</div>
						</div>
					</div> -->
					<div class="media-feed">
					<th:block th:if="${mediaFeed.size() > 0}" th:remove="tag"> 
						<div class="btn-group infinite-scroll">
						<th:block th:each="image : ${mediaFeed}" th:remove="tag">
							<div th:remove="${image == null} ? all : none" class="btn asset-thumbnail-offset">
								<a class="pueAsset" href="#" data-toggle="modal" data-target="#pueSessionModal" data-th-attr="data-imgurl=${image.get('stdResUrl').getAsString()}, data-imgid=${image.get('id').getAsString()}"> 
								   <img class="img-rounded asset-thumbnail" th:src="${image.get('thumbnailUrl').getAsString()}"/>
								</a>
							</div>
						</th:block>
						</div>
					</th:block>
					</div>
				</section>
			</div>
		</section>
		<script th:inline="javascript">/*<![CDATA[*/var username = [[${username}]];/*]]>*/</script>
	</th:block>
	</body>
</html>