<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
	<body>
	<th:block tiles:fragment="content" th:remove="tag">
		<section id="main-content" class="container">
			<section class="content-wrapper">
				<div class="row">
					<div class="col-lg-9">
						<div id="dashboard-items">
							<div class="dashboard-item" id="rateLimit">
								<div class="dashboard-item-title">
									<span>Instagram API Rate Limit</span>
								</div>
								<div class="dashboard-item-description">
									<span>Status of requests per hour</span>
								</div>
								<div class="dashboard-item-data">
									<span th:text="${remainingLimit}"></span>
									<span id="divider">/</span>
									<span th:text="${requestLimit}"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-9">
						<div id="userInfo">
							
						</div>
					</div>
				</div>
			</section>
		</section>
	</th:block>
	</body>
</html>