<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
	<body>
	<th:block tiles:fragment="content" th:remove="tag">
		<th:block th:if="${errorMsg} != null">
			<div id="error">
				<span id="errorText" th:text="${errorMsg}"></span>
			</div>
		</th:block>
		<section id="container">
			<section class="wrapper">
				<form class="form-login" method="post" th:action="${authUrl}">
					<h2 class="form-login-heading">pue</h2>
					<div class="login-wrap">
						<div class="form-login-info">
							<span class="form-login-info-header">Personal User Engagement</span>
							<img class="ig-icon" src="img/ig-icon.png"/>
							<hr />
							<div class="form-login-info-content">
								<span>The ultimate user engagement toolkit for Instagram!</span>
							</div>
						</div>
						<button class="btn btn-theme btn-block" type="submit">
							<i class="fa fa-lock"></i>
							<span>SIGNIN TO INSTAGRAM</span>
						</button>
						<div class="other-user-login">
							<a href="#">Signin As Another User</a> 
						</div>
						<hr/>
						<div class="login-footer">
							<div class="web-info">
								<a href="http://pue-borysn.rhcloud.com">
									<span class="domain">pue-borysn.rhcloud.com</span>
								</a>
								<span class="copyright">&copy; 2015 ABND | </span>
								<a id="privacyPolicyLink" data-toggle="modal" data-target="#privacyPolicyModal" href="#">
									<span class="privacyPolicy">Privacy</span>
								</a>
							</div>
						</div>
					</div>
				</form> 
			</section>
		</section>
	</th:block>
	</body>
</html>