<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
	<body>
	<th:block tiles:fragment="content" th:remove="tag">
		<th:block th:if="${errorMsg} != null">
			<div id="error">
				<span id="errorText" th:text="${errorMsg}"></span>
			</div>
		</th:block>
		<section id="container">
			<section class="wrapper">
				<div id="privacyPolicyContainer" class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
          					<button type="button" class="close" data-dismiss="modal">&times;</button>
							<div class="modal-title">
								Privacy Policy of <a href="pue-borysn.rhcloud.com">PUE</a>
							</div>
							<span class="text-muted pp-modal-desc">This Application collects some Personal Data from its Users.</span>
						</div>
						<div class="modal-body">
							<div class="pp-body-head">
								<span class="pp-body-title">Personal Data Collected</span> 
								<span class="pp-body-description">...for the following purposes and using the following services:</span>
							</div>
							<hr/>
							<div class="pp-services">
								<div class="pp-item-col1">
									<span class="pp-icon fa fa-instagram"></span>
									<div class="pp-item-header"><strong>Access to third party services' accounts</strong></div>
									<div class="pp-item-title">Access to the Instagram account</div>
									<div class="pp-item-info">Personal Data: Various types of Data as specified in the privacy policy of the service</div>
								</div>
								<div class="pp-item-col2">
									<span class="pp-icon fa fa-instagram"></span>
									<div class="pp-item-header"><strong>Registration and authentication</strong></div>
									<div class="pp-item-title">Instagram Authentication</div>
									<div class="pp-item-info">Personal Data: Various types of Data as specified in the privacy policy of the service</div>
								</div>
							</div>
							<hr/>
							<div class="pp-contact">
								<div class="pp-items-col1">
									<span class="pp-icon fa fa-envelope"></span>
									<div class="pp-item-header"><strong>Contact information</strong></div>
									<div class="pp-item-info">pue-borysn.rhcloud.com <br/> xborysn@gmail.com</div>
								</div>
							</div>
						</div>
				        <div class="modal-footer">
				        	<div class="text-muted modal-footer-notes">Last edited: 10/1/2015</div>
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
					</div>
				</div>
			</section>
		</section>
	</th:block>
	</body>
</html>