<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
	<body>
	<th:block tiles:fragment="content" th:remove="tag">
		<section id="main-content" class="container">
			<section class="content-wrapper">
				<!-- <div class="row">
					<div class="col-lg-9">
						<div id="contentHeader">
							<span class="page-header" th:text="${viewName}"></span>
						</div>
					</div>
				</div> -->
				<div class="row">
					<div class="col-lg-9">
						<div id="userInfo">
							<h1 th:text="${username}"></h1>
							<h3 th:text="${fullName}"></h3>
							<a th:href="@{${website}}" th:text="${website}"></a>
							<p th:text="${bio}"></p>
						</div>
					</div>
				</div>
			</section>
		</section>
	</th:block>
	</body>
</html>