<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
	<body>
	<th:block tiles:fragment="header" th:remove="tag">
		<section id="header" class="header top-menu-bg-color">
			<div class="top-menu-wrapper">
				<div class="sidebar-toggle-box">
					<div class="fa fa-bars tooltips" data-placement="right"
						data-original-title="Toggle Navigation"></div>
				</div>
				<a th:href="@{@{~/} + ${username} + @{/dashboard}}" class="logo"><b>PUE</b></a>
				<!-- <div class="top-menu">
	            	<ul class="nav pull-right top-menu top-menu-bg-color">
	                    <li><a class="logout" href="#">Logout</a></li>
	            	</ul>
	            </div> -->
			</div>
		</section>
	</th:block>
	</body>
</html>