<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
<th:block tiles:fragment="login_head" th:remove="tag">
	<head>
		<title th:text="${pageTitle}"></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<meta name="theme-color" content="#23B677" />
    	<link rel="icon" type="image/gif" href="/img/pue-icon.png" />
    	<!-- lib -->
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
		<!-- custom -->
		<link rel="stylesheet" type="text/css" href="/css/ui-style.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/login-style.css" />
		<link rel="stylesheet" type="text/css" href="/css/privacy-policy-style.css" />
		<!-- responsive style must come last -->
		<link rel="stylesheet" type="text/css" href="/css/responsive-style.css" />
	</head>
</th:block>
<th:block tiles:fragment="dashboard_head" th:remove="tag">
	<head>
		<title th:text="${pageTitle}"></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<meta name="theme-color" content="#23B677" />
    	<link rel="icon" type="image/gif" href="/img/pue-icon.png" />
    	<!-- lib -->
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/css/jquery.bxslider.min.css" /> 
		<!-- custom -->
		<link rel="stylesheet" type="text/css" href="/css/ui-style.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/app-style.css" />
		<link rel="stylesheet" type="text/css" href="/css/dashboard-style.css" />
		<link rel="stylesheet" type="text/css" href="/css/privacy-policy-style.css" />
		<link rel="stylesheet" type="text/css" href="/css/assets-style.css" />
		<link rel="stylesheet" type="text/css" href="/css/pue-session.css" />
		<link rel="stylesheet" type="text/css" href="/css/loading-wheel.css" />
		<!-- responsive style must come last -->
		<link rel="stylesheet" type="text/css" href="/css/responsive-style.css" />
	</head>
</th:block>
</html>