<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
	<body>
	<th:block tiles:fragment="sidebar" th:remove="tag">
		<aside>
			<div id="sidebar" class="nav-collapse">
				<ul class="sidebar-menu" id="nav-accordion">
					<p class="centered">
						<a th:href="@{@{~/} + ${username} + @{/dashboard}}"> 
							<img th:src="${profilePicture}" class="img-circle" width="60" />
						</a>
					</p>
					<h5 class="centered" th:text="${fullName}"></h5>
					
					<li class="mt">
						<a th:href="@{@{~/} + ${username} + @{~/dashboard}}"> 
							<i class="fa fa-dashboard"></i><span>Dashboard</span>
						</a>
					</li>
					
					<li class="mt">
						<a th:href="@{@{~/} + ${username} + @{/profile}}"> 
							<i class="fa fa-desktop"></i><span>Profile</span>
						</a>
					</li>
					
					<li class="mt">
						<a th:href="@{@{~/} + ${username} + @{/assets}}"> 
							<i class="fa fa-photo"></i><span>Assets</span>
						</a>
					</li>
					
					<li class='mt'>
						<hr />
					</li>
					
	                <li class="mt">
	                	<a class="logout" href="#">
	                		<i class="fa fa-power-off"></i><span>Logout</span>
	                	</a>
	                </li>
					<!-- <li class="sub-menu dcjq-parent-li"><a href="javascript:;"
						class="dcjq-parent"> 
						<i class="fa fa-desktop"></i><span>UI Elements</span> <span class="dcjq-icon"></span></a>
						<ul class="sub" style="display: none;">
							<li><a href="general.html">General</a></li>
							<li><a href="buttons.html">Buttons</a></li>
							<li><a href="panels.html">Panels</a></li>
						</ul>
					</li> -->
				</ul>
			</div>
		</aside>
	</th:block>
	</body>
</html>